$blaa: #1A1834;
$beige: #F4ECDC;


// WP-admin
.acf-block-preview {
  .container {
    &.kitcontains {

      @media only screen and (max-width: 767px) {
        .big-screen {
          display: none;
        }
      }
      @media only screen and (min-width: 768px) {
        .small-screen {
          display: none;
        }
      }

      .block-inner-content {
        text-align: center;
        max-width: 950px;
        margin: auto;
        padding: 50px 0;

      @media only screen and (min-width: 768px) {
        padding: 75px 0;
      }

      @media only screen and (max-width: 767px) {
        padding-bottom: 100px;
      }

        .mainheader {
          margin-bottom: 20px;

        & > h2 {
          font-weight: 800;

          @media only screen and (min-width: 1200px) {
            font-size: 2.5rem;
          }
        }
        }

        .biheader {
            margin-bottom: 20px;
            max-width: 850px;
            margin: auto;

            @media only screen and (min-width: 768px) {
              margin-top: 30px;
            }

            p {
              font-weight: 300;
              @media only screen and (min-width: 768px) {
                font-size: 22px;
              }
              strong {
                font-weight: 600;
              }
            }
          }

          .prodbilde {
            position: relative;

            @media only screen and (max-width: 767px) {
            text-align: left;

            & > img {
              width: 60%;
            }
          }

            .prodbilde-txt {

              h3 {
                font-size: 16px;
                font-weight: 600;

                @media only screen and (max-width: 767px) {
                  font-size: 14px;
                  margin-bottom: 5px;
                }
              }
              p {
                font-size: 16px;
                font-weight: 300;

                @media only screen and (max-width: 767px) {
                  font-size: 13px;
                  line-height: 14px;
                }
              }
              .prodbilde-txt-1-1 {
                position: absolute;
              top: 145px;
              text-align: right;
              right: 700px;
              max-width: 275px;

              @media only screen and (max-width: 930px) {
                max-width: 215px;
              }

              @media only screen and (max-width: 767px) {
                max-width: 225px;
                text-align: left;
                top: 7vw;
                left: 52vw;
                right: auto;
            }
              }
              .prodbilde-txt-1-2 {
                position: absolute;
              top: 325px;
              text-align: right;
              right: 700px;
              max-width: 275px;

              @media only screen and (max-width: 930px) {
                max-width: 215px;
              }

              @media only screen and (max-width: 767px) {
                max-width: 225px;
                text-align: left;
                top: 75.5vw;
                left: 52vw;
                right: auto;
            }
              }
              .prodbilde-txt-2-1 {
                position: absolute;
              top: 145px;
              text-align: left;
              left: 700px;
              max-width: 275px;

              @media only screen and (max-width: 930px) {
                max-width: 215px;
              }

              @media only screen and (max-width: 767px) {
                max-width: 225px;
                text-align: left;
                top: 30vw;
                left: 52vw;
                right: auto;
            }
              }
              .prodbilde-txt-2-2 {
                position: absolute;
              top: 325px;
              text-align: left;
              left: 700px;
              max-width: 275px;

              @media only screen and (max-width: 930px) {
                max-width: 215px;
              }

              @media only screen and (max-width: 767px) {
                max-width: 225px;
                text-align: left;
                top: 52.5vw;
                left: 52vw;
                right: auto;
            }

              }
            }

            
          }
    }

    }
  }
}

